body {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
}

.navbar,
.navbar ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding-bottom: 50px;
}

.navbar p {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-main {
    display: flex;
    gap: 42px;
    margin: 0;
}

.main-text  h1{
    padding: 0;
    margin: 0;
}

.hero-pic img{
    width: 400px;
    height: auto;
}