body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

.navbar,
.navbar ul {
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: flex-end;
}

.navbar p,
.navbar ul {
    margin-bottom: 0;
    margin-top: 18px;
}

.navbar ul a {
    text-decoration: none;
}

.navbar ul a,
.hero-main p,
.hero-main button {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 500;
} 

.navbar p {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.hero-main {
    display: flex;
    gap: 42px;
    padding-bottom: 130px;
    padding-top: 130px;
    
}

.main-text  h1{
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

.main-text p {
    margin: 5px;
}

.navbar p,
.main-text h1 {
    color: #F9FAF8;
}

.hero-pic img{
    width: 530px;
    height: 250px;
}

.hero-main button {
    background-color: #3882F6;
    border: none;
    padding: 8px 32px 8px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px;
  }

