body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-left: 250px;
    padding-right: 250px;
}

.navbar,
.navbar ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.navbar p {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.hero-main {
    display: flex;
    gap: 42px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.main-text  h1{
    padding: 0;
    margin: 0;
}

.main-text h1 {
    font-size: 48px;
    font-weight: bolder;
}

.navbar p,
.main-text h1 {
    color: #F9FAF8;
}

.hero-pic img{
    width: 400px;
    height: auto;
}